* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
    overflow-x: clip;
    background-size: 200% 200%;
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.fi-h1 {
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: cursive;
    font-size: smaller;
    width: 100%;
    padding: 1rem;
}

.h1-cont {
    background: linear-gradient(135deg, rgb(238, 87, 87), rgb(89, 89, 224));
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    height: 110px;
    width: 100vw;
    text-overflow: ellipsis;
    position: sticky;
    top: 0;
    z-index: 1;
}

.play-btn {
    text-decoration: none;
    padding: 0.3rem 0.3rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    transition: all 0.3s ease;
}

.play-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}


.result-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38rem;
    width: 90%;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px grey;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.results img {
    height: 15rem;
    width: 20rem;
}

.sabsepehle {
    padding-bottom: 1.4rem;
}

.names {
    font-family: cursive;
    color: #222222;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.table {
    width: 80rem;
    overflow: hidden;
}

.sabko {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .results {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
}

/* @media screen and (min-width: 800px) {
    .table{
        height: 200px;
    }
} */

table {
    margin: 1rem;
}

th,
td {
    padding: 0.5rem 2rem;
}

table,
th,
td {
    border: 1px solid black;
}

@media screen and (max-width: 1300px) {

    table th,
    td {
        padding: 0px;
    }
}

@media screen and (max-width: 670px) {

    th {
        column-span: 2;
    }

    .table {
        width: 40rem;
    }
}

@media screen and (max-width: 800px) {
    table {
        height: 200px;
        width: 100px;
    }

    .table {
        width: 200px;
        height: 900px;
        /* overflow-x: inherit; */
    }
}

@media screen and (max-width: 801px) and (max-width: 1305px) {
    .fi-h1 {
        width: 100%;
    }

    table {
        height: 200px;
        width: 100px;
    }

    .table {
        width: 200px;
        height: 300px;
        overflow-x: inherit;
    }
}